parameters:
    parallel:
        processTimeout: 600.0
    level: 8
    paths:
        - src
    excludePaths:
        - src/connector/
        - src/storage/ElasticStorage.php
        - src/storage/PdoStorage.php
