parameters:
	ignoreErrors:
		-
			message: "#^Access to an undefined property Xakki\\\\PhpErrorCatcher\\\\PhpErrorCatcher\\:\\:\\$globalTag\\.$#"
			count: 2
			path: src/PhpErrorCatcher.php

		-
			message: "#^Call to an undefined method Xakki\\\\PhpErrorCatcher\\\\PhpErrorCatcher\\:\\:getCountByLevelAndLess\\(\\)\\.$#"
			count: 1
			path: src/PhpErrorCatcher.php

		-
			message: "#^Cannot call method format\\(\\) on DateTime\\|false\\.$#"
			count: 1
			path: src/PhpErrorCatcher.php

		-
			message: "#^Offset int on array\\<string, int\\> in isset\\(\\) does not exist\\.$#"
			count: 3
			path: src/PhpErrorCatcher.php

		-
			message: "#^Parameter \\#1 \\$level of method Xakki\\\\PhpErrorCatcher\\\\PhpErrorCatcher\\:\\:createLogData\\(\\) expects int, string given\\.$#"
			count: 1
			path: src/PhpErrorCatcher.php

		-
			message: "#^Parameter \\#2 \\$message of method Xakki\\\\PhpErrorCatcher\\\\PhpErrorCatcher\\:\\:log\\(\\) expects string\\|Stringable, int given\\.$#"
			count: 1
			path: src/PhpErrorCatcher.php

		-
			message: "#^Property Xakki\\\\PhpErrorCatcher\\\\dto\\\\LogData\\:\\:\\$level \\(string\\) does not accept int\\.$#"
			count: 1
			path: src/PhpErrorCatcher.php

		-
			message: "#^Property Xakki\\\\PhpErrorCatcher\\\\dto\\\\LogData\\:\\:\\$trace \\(string\\|null\\) does not accept string\\|false\\.$#"
			count: 1
			path: src/PhpErrorCatcher.php

		-
			message: "#^Result of && is always false\\.$#"
			count: 1
			path: src/PhpErrorCatcher.php

		-
			message: "#^Static property Xakki\\\\PhpErrorCatcher\\\\PhpErrorCatcher\\:\\:\\$logTags \\(array\\<string, string\\>\\) does not accept array\\<int\\|string, string\\>\\.$#"
			count: 2
			path: src/PhpErrorCatcher.php

		-
			message: "#^Using nullsafe method call on non\\-nullable type DateTime\\|false\\. Use \\-\\> instead\\.$#"
			count: 1
			path: src/PhpErrorCatcher.php

		-
			message: "#^Binary operation \"\\.\" between non\\-empty\\-array\\|int\\<min, \\-1\\>\\|int\\<1, max\\>\\|object\\|non\\-falsy\\-string and '\\:' results in an error\\.$#"
			count: 1
			path: src/Tools.php

		-
			message: "#^Method Xakki\\\\PhpErrorCatcher\\\\Tools\\:\\:getFileLineByTrace\\(\\) has parameter \\$trace with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Tools.php

		-
			message: "#^Parameter \\#1 \\$traceItem of static method Xakki\\\\PhpErrorCatcher\\\\Tools\\:\\:isTraceHasExclude\\(\\) expects array\\<string, string\\>, array\\<string, array\\|int\\|object\\|string\\> given\\.$#"
			count: 1
			path: src/Tools.php

		-
			message: "#^Method Xakki\\\\PhpErrorCatcher\\\\storage\\\\BaseStorage\\:\\:write\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/storage/BaseStorage.php

		-
			message: "#^Parameter \\#1 \\$string of function trim expects string, string\\|false given\\.$#"
			count: 1
			path: src/storage/FileStorage.php

		-
			message: "#^Parameter \\#2 \\$offset of function substr expects int, int\\|false given\\.$#"
			count: 1
			path: src/storage/FileStorage.php

		-
			message: "#^Parameter \\#3 \\$length of function substr expects int\\|null, int\\|false given\\.$#"
			count: 1
			path: src/storage/FileStorage.php

		-
			message: "#^Property Xakki\\\\PhpErrorCatcher\\\\storage\\\\FileStorage\\:\\:\\$logKeys type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/storage/FileStorage.php

		-
			message: "#^Call to an undefined static method Xakki\\\\PhpErrorCatcher\\\\storage\\\\FileStorage\\:\\:iterateFileLog\\(\\)\\.$#"
			count: 1
			path: src/viewer/FileViewer.php

		-
			message: "#^Parameter \\#1 \\$dirList of method Xakki\\\\PhpErrorCatcher\\\\viewer\\\\FileViewer\\:\\:renderViewDirList\\(\\) expects array\\<int, array\\<int, string\\>\\>, array\\<string, array\\<int, int\\|string\\>\\> given\\.$#"
			count: 2
			path: src/viewer/FileViewer.php

		-
			message: "#^Parameter \\#1 \\$stream of function fclose expects resource, resource\\|false given\\.$#"
			count: 1
			path: src/viewer/FileViewer.php

		-
			message: "#^Parameter \\#1 \\$stream of function feof expects resource, resource\\|false given\\.$#"
			count: 1
			path: src/viewer/FileViewer.php

		-
			message: "#^Parameter \\#1 \\$stream of function fread expects resource, resource\\|false given\\.$#"
			count: 1
			path: src/viewer/FileViewer.php
